[submodule "src/kt/async_queue"]
	path = src/kt/async_queue
	url = https://github.com/karnkaul/async-queue.git
[submodule "src/kt/str_format"]
	path = src/kt/str_format
	url = https://github.com/karnkaul/str-format
[submodule "libs/clap"]
	path = libs/clap
	url = https://github.com/karnkaul/clap
